/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-dark-gray: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --border-radius: 4px;

  /* Animation Duration */
  --animation-time: 300ms;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
}

a {
  color: var(--color-white);
  text-decoration: none;
}
ul {
  padding: 0px;
}

li {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Universal tags*/

* {
  box-sizing: border-box;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Sections */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* navigation bar */

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  transition: all var(--animation-time) ease-in;
  z-index: 1;
}

#navbar img {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-right: 15px;
  background-color: var(--color-orange);
  opacity: 0.6;
  border-radius: 50%;
  color: rgb(5, 80, 5);
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 16px;
}

.navbar__logo-link:hover {
  transform: scale(1.2);
}

.navbar__logo-link {
  transition: transform var(--animation-time) ease-in;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  color: var(--color-white);
  padding: 0px 12px;
  margin: 8px;
  align-items: center;
}

.navbar__menu__item {
  cursor: pointer;
  white-space: nowrap;
  border: 0px solid transparent;
  padding: 8px 16px;
  margin: 0px;
  border-radius: var(--border-radius);
}

.navbar__menu__item:hover,
.navbar__menu__item.selected {
  background-color: var(--color-dark-pink);
  width: 100%;
  text-align: center;
  border: 0px;
}

.navbar__toggle-btn {
  font-size: 24px;
  color: var(--color-white);
  position: absolute;
  top: 20px;
  right: 24px;
  display: none;
}

/* Home */

#home {
  background: url("imgs/background-img.png") center/cover no-repeat;
  text-align: center;
  padding: 40px;
  padding-top: 150px;
}

.home__img {
  height: 250px;
  width: 250px;
  border: 2px solid var(--color-light-white);
  border-radius: 50%;
}

.home__description,
.home__title {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}
/* About me */

.career__logo {
  width: 50px;
  height: 50px;
}

.about__majors {
  margin: 80px 0px;
  display: flex;
  justify-content: space-between;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--animation-time) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-gray);
}

.career {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.career__description {
  text-align: left;
  margin: 0 16px;
}

.career__name,
.career__period {
  color: var(--color-light-grey);
}

.career__name {
  font-size: var(--font-small);
}

.career__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-gray);
  color: var(--color-light-white);
  margin: 40px 0px;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
}

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-grey);
}
.skill {
  padding: 20px 30px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill__progressbar {
  height: 3px;
  width: 100%;
  background-color: var(--color-grey);
}

.skill__progress-value {
  height: 3px;
  background-color: var(--color-orange);
}
.etc {
  background-color: var(--color-light-grey);
}

.tools,
.etc {
  padding: 20px;
  height: 50%;
}

/* my work */

.category__btn {
  /* border: 1px solid var(--color-light-grey); */
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.project__categories {
  margin: 24px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn:hover .category__count,
.category__btn.selected .category__count {
  opacity: 1;
  top: 10px;
}

.category__count {
  background-color: var(--color-orange);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  border-radius: 50%;
  margin-left: 10px;
  color: var(--color-white);
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all var(--animation-time) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-time) ease-out;
}

.work__projects.animation-out {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
}

.project {
  width: 280px;
  height: 250px;
  background-color: var(--color-light-white);
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project.invisible {
  display: none;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--animation-time) ease-in;
  opacity: 0;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

/* Testimonials */

#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px 0;
}

.testimonial {
  display: flex;
  margin: 40px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  padding: 30px;
}

.testimonial:nth-child(even) .testimonial__avatar {
  margin-left: 40px;
}

.testimonial:nth-child(odd) .testimonial__avatar {
  margin-right: 40px;
}

.name__link {
  color: var(--color-pink);
}

/* Let's talk */

#contact {
  background-color: var(--color-pink);
  padding: 30px;
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__rights {
  color: var(--color-light-white);
  margin-top: 20px;
}

.contact__title {
  margin: 30px 0;
}

.contact__email {
  margin-bottom: 20px;
}

.contact__link i {
  font-size: 40px;
  transition: all var(--animation-time) ease-in;
}

.contact__link i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

/* arrow up btn */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-time) ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* responsive */

@media screen and (max-width: 768px) {
  :root {
    /* Font-size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.active {
    display: block;
    background-color: var(--color-pink);
    margin: 0px;
  }
  .section {
    padding: 30px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .major {
    margin-bottom: 32px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    width: 100%;
    margin-bottom: 2px;
    position: relative;
  }
  .category__count {
    position: absolute;
    right: 50px;
  }

  .category__btn:hover .category__count,
  .category__btn.selected .category__count {
    opacity: 1;
    top: 5px;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__speech-bubble {
    margin: 30px 0px;
    order: 1;
  }

  .testimonial:nth-child(even) .testimonial__avatar {
    margin-left: 0px;
  }

  .testimonial:nth-child(odd) .testimonial__avatar {
    margin-right: 0px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    bottom: 30px;
    right: 30px;
  }
}
